#Mac file
.DS_Store
.Rproj.user

#Raw data 
/data_raw

#Keynote to make comparison figure 
figures/comparison_figures.key

#Writeup files 
writeup/rsconnect 
writeup/jara-ettinger2022_rescue_files
writeup/.Rhistory